.select-style {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 220px;
  z-index: 1000;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
  text-align: left;
}

.select-style select {
  margin-left: 10px;
}

